<div class = 'jumbotron'>
    <h1>WELCOME TO FIFA WORLD CUP SCORE PAGE</h1>
</div>

<div id = 'openingprompt' class = 'container'>
    <div class = 'row'>
        <div class = 'col-lg-12' align = 'center'>
            <div class="card text-center" style="width: 25rem;">
                <img class="card-img-top" src="/public/assets/images/fifa2018.png" alt="fifa2018">
                <div class="card-body">
                    <button id = 'loginbutton' class = 'btn btn-primary btn-lg'>Login</button>
                    <br><br>
                    <button id = 'newuserbutton' class = 'btn btn-primary'>New User</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id = 'newuserprompt' class = 'container hidden'>
    <div class = 'row'>
        <div class = 'col-lg-12' align = 'center'>
            <div class = 'card text-center' style = 'width: 40rem;'>
                <div class = 'card-body'>
                    <div class = 'row'>
                        <div class = 'col-lg-6'>
                            What's your username?
                            <br>
                            <textarea id="newusernameinput" rows="1" cols="25"></textarea>
                        </div>
                        <div class = 'col-lg-6'>
                            What team would you like to follow? 
                            <br>
                            <textarea id="newteaminput" rows="1" cols="25"></textarea>
                        </div>
                    </div>
                    <div class = 'row'>
                        <div class = 'col-lg-12' >
                            <button id = 'newusersubmitbutton' class = 'btn btn-primary'>Submit</button>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
    </div>
</div>

<div id = 'loginprompt' class = 'container hidden'>
    <div class = 'row'>
        <div class = 'col-lg-12' align = 'center'>
            <div class = 'card text-center' style = 'width: 40rem;'>
                <div class = 'card-body'>
                    <div class = 'row'>
                        <div class = 'col-lg-12'>
                            Username: 
                            <br>
                            <textarea id="usernameinput" rows="1" cols="20"></textarea>
                        </div>
                    </div>
                    <div class = 'row'>
                        <div class = 'col-lg-12' >
                            <button id = 'loginsubmitbutton' class = 'btn btn-primary'>Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id = 'content' class = 'container hidden'>
    <div align = 'center'>
        <h1>Welcome <span id = 'usernameplaceholder'></span></h1>
        <br>
        <h3>Lets go  <span id = 'teamplaceholder'></span>! </h3>
    </div>
    <div class = 'row'>
        <div class = 'col-lg-12' align = 'center'>
            <button id = 'loadteambutton' class = 'btn btn-primary' href = '/teampage'>My Teams Page</button>
        </div>
    </div>
    <br>
    <div align = 'center'>
        <h3>Load of the day (MM/DD)</h3>
        <br>
        <textarea id="monthofmatch" rows="1" cols="3"></textarea>  <textarea id="dayofmatch" rows="1" cols="3"></textarea>
        <br>
        <button id = 'matchsubmit' class = 'btn btn-primary'>Submit</button>
    </div>
    <br>
    <div id = 'tableofMatches' class = 'hidden'>
        <table class= "table yesterday-games-table" style = "width: 100%">
            <thead>
                <tr>
                    <th scope="col">Team 1</th>
                    <th scope="col">Team 2</th>
                    <th scope="col">Winner</th>
                </tr>
            </thead>
                <tbody id= "pastmatches">
            </tbody>
        </table>
    </div>
</div>
